{% extends "layout.html" %}

{% block title %}
    Attribution
{% endblock %}

{% block main %}
    <div class="attribution">
        Images provided for free from <a href="https://thenounproject.com/" target="_blank">the Noun Project</a>
        <table class="table table-sm caption-top table-attribution">
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Creater</th>
            </tr>
            <tr>
                <td><a href="https://thenounproject.com/search/?q=gloves&i=4028976" target="_blank">Gloves</a></td>
                <td>Komkrit Noenpoempisut</td>
            </tr>
            <tr>
                <td><a href="https://thenounproject.com/term/hat/1276845/" target="_blank">hat</a></td>
                <td>Visual Glow</td>
            </tr>
            <tr>
                <td><a href="https://thenounproject.com/search/?q=winter+jacket&i=2208586" target="_blank">Jacket</a></td>
                <td>Alena Artemova</td>
            </tr>
            <tr>
                <td><a href="https://thenounproject.com/term/jacket/1503027/" target="_blank">Jacket</a></td>
                <td>Nook Fulloption</td>
            </tr>
            <tr>
                <td><a href="https://thenounproject.com/search/?q=t-shirt&i=3834861" target="_blank">t-shirt(long)</a> and <a href="https://thenounproject.com/term/t-shirt/3834822/" target="_blank">t-short(short)</a></td>
                <td>Idris Rizal</td>
            </tr>
            <tr>
                <td><a href="https://thenounproject.com/search/?q=pants&i=3109266" target="_blank">pants</a></td>
                <td>IronSV</td>
            </tr>
            <tr>
                <td><a href="https://thenounproject.com/search/?q=shorts&i=2815831" target="_blank">shorts</a></td>
                <td>Valeriy</td>
            </tr>
            <tr>
                <td><a href="https://thenounproject.com/search/?q=umbrella&i=4362669" target="_blank">Umbrella</a></td>
                <td>Jino</td>
            </tr>
            <tr>
                <td><a href="https://thenounproject.com/search/?q=boots&i=937098" target="_blank">Boots</a></td>
                <td>Sergey Tikhonov</td>
            </tr>
        </table>
    </div>
{% endblock %}