{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div>
            {% if errorMsg: %}
            <div class="errorMsg">{{ errorMsg }}</div>
            {% endif %}
        </div>
        <div class="form-group input-register">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group input-register">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group input-register">
            <input class="form-control" name="confirmation" placeholder="Password confirmation" type="password">
        </div>
        <button class="btn btn-primary btn-submit" type="submit">Register</button>
    </form>
{% endblock %}
